body{
  display: contents;
}
.App {
  text-align: center;
  background-image: url("img/img-002.jpg");
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}
.App-prin {
  text-align: center;
  background-image: url("img/img-004.jpg");
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}
.background-image{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("img/img-001.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.5);
}
.background-image-prin{
  background-image: url("img/img-003.jpg");
}
.cont-sub-prin{
  width: 900px;
  display: block;
  position: relative;
  margin: auto;
}
.prin-total{
  width: 100%;
  display: inline-block;
  margin: 50px auto;
}
.money-icon{
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  background: #86a88b;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  letter-spacing: 5px;
}
.display-flex-money{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.display-block{
  display: block;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.button-fin-sede{
  width: 100% !important;
}
.cont-ticket{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket{
  padding: 20px;
  display: block;
  font-size: 32px;
  color: #a97b3d;
  transform: rotate(135deg);
}
.ticket-nro{
  font-size: 32px;
  color: #fff;
  letter-spacing: 5px;
}
.total-money{
  padding: 20px 0 20px 20px;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 5px;
}
.sub-background{
  margin: auto;
  background-image: url("img/stars.png");
  background-size: cover;
}
.image-01{
  height: 600px;
  width: 600px;
  animation: App-logo-spin infinite 20s linear;
}
.image-02{
  height: 300px;
  width: 300px;
  animation: App-logo-spin infinite 10s linear;
}
.image-03{
  height: 200px;
  width: 200px;
  animation: App-logo-cube infinite 5s linear;
}
/*------FORM------*/
.cont-form{
  position: relative;
  padding: 50px;
}
.mini-logo-01{
  width: 260px;
  margin: auto;
  padding: 20px;
}
.img-mini-logo-01{
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}
/*------INPUT------*/
.cont-form-sub{
  width: 500px;
  margin: auto;
  padding: 20px;
}
.input-form{
  width: 400px;
  margin: 20px auto;
}
.email-form{
  width: 400px;
  color: #fff;
  background: #fff0 !important;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #76b6e5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  filter: drop-shadow(2px 4px 6px #000);
  transition: 0.4s ease-in-out;
}
.email-form:focus{
  outline: none;
  background: #fff0 !important;
  filter: drop-shadow(2px 4px 6px #fff);
}
.email-form::placeholder{
  color: #c0c0c0;
  font-size: 20px;
}
.email-form:-webkit-autofill{
  background-color: #fff0 !important;
}
.pass-form{
  width: 400px;
  color: #fff;
  background: #fff0;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #76b6e5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  filter: drop-shadow(2px 4px 6px #000);
  transition: 0.4s ease-in-out;
}
.pass-form:focus{
  outline: none;
  filter: drop-shadow(2px 4px 6px #fff);
}
.pass-form::placeholder{
  color: #c0c0c0;
  font-size: 20px;
}
.eye{
  font-size: 32px;
  color: #fff;
}
.eye:hover{
  color: #00fcb6;
  cursor: pointer;
}
.check-form{
  position: relative;
  width: 120px;
  height: 40px;
  appearance: none;
  background: linear-gradient(0deg, #33333336, #00000024);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #76b6e5,
              0 0 0 5px #3e3e3e,
              inset 0 0 10px
              rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5),
              inset 0 0 15px rgba(0,0,0,.2);
}
input:checked.check-form{
  background: linear-gradient(0deg, #63cdff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff,
              0 0 0 4px #76b6e5,
              0 0 0 5px #3e3e3e,
              inset 0 0 10px
              rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5),
              inset 0 0 15px rgba(0,0,0,.2);
}
.check-form:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(0deg, #1464a3, #0e96ff);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.98,.96);
  transition: .4s;
}
input:checked.check-form:before{
  left: 40px;
}
.check-form:after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: .4s;
}
input:checked.check-form:after{
  background: #63cdff;
  left: 105px;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}
.label-check{
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
  padding: 20px;
}
.check-align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-form{
  width: 100%;
  color: #fff;
  background: #1464a3;
  cursor: pointer;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  filter: drop-shadow(2px 4px 6px #000);
  transition: .4s;
}
.submit-form:hover{
  color: #41207c;
  filter: drop-shadow(2px 4px 6px #000);
  background: #0e8ff3;
}
.error-report{
  color: #fff;
  font-size: 16px;
  background: #12006b78;
  padding: 20px;
  border-radius: 20px;
  letter-spacing: 5px;
}
.exclamation{
  padding: 10px;
}
.box-prin{
  width: 600px;
  padding: 20px;
  margin: auto;
  border-radius: 40px;
  color: #aaa4a4;
  background: #000000a6;
  border: 1px solid #3c3356;
}
.table-cont{
  margin: auto;
}
.ticket-icon{
  padding: 20px;
}
.cantidad-ticket{
  padding: 20px;
  letter-spacing: 5px;
  font-size: 20px;
}
.precio-ticket{
  padding: 20px;
  letter-spacing: 5px;
  font-size: 20px;
}
.ticket-img{
  width: 70px;
}
.fecha-ticket{
  color: #fff;
  font-weight: 800;
  padding: 20px;
  letter-spacing: 5px;
  font-size: 16px;
  border-top: 1px double #367332;
  border-radius: 20px;
}
.historial-text{
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
}
.margin-top-20{
  margin-top: 20px;
}
.fecha-hist-head{
  color: #fff;
  padding: 20px;
  letter-spacing: 5px;
  font-size: 20px;
  border-bottom: 1px double #367332;
}
.fecha-hist{
  padding: 10px;
  letter-spacing: 5px;
  font-size: 16px;
}
.button-fin{
  width: 50%;
  padding: 0 10px;
}
.button-fecha{
  width: 100%;
  color: #fff;
  background: #323a81;
  cursor: pointer;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  filter: drop-shadow(2px 4px 6px #000);
  transition: .4s;
}
.button-fecha:hover{
  color: #41207c;
  filter: drop-shadow(2px 4px 6px #000);
  background: #0e8ff3;
}
.bg-fin{
  background: #fff6;
}
.img-home{
  width: 80%;
  display: block;
  margin: auto;
  padding: 40px;
}
.btn-close{
  top: 0;
  position: absolute;
  right: 0;
  padding: 20px !important;
  font-size: initial;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}
.modal-header{
  display: block !important;
}
.p-modal{
  color: #727272;
  font-size: .875rem;
  font-weight: normal;
  text-align: center;
}
.span-modal{
  font-weight: 800;
  color: #e56d34;
}
.submit-form-modal{
  background: #353535;
  filter: none;
}
.submit-form-modal:hover{
  color: #fff;
  background: #e17610;
  filter: drop-shadow(2px 4px 6px black);
}
.modal-footer{
  display: block !important;
}
.span-footer{
  letter-spacing: 5px;
  font-weight: 500;
  color: #6c6c6c;
}
.estado-caja{
  padding: 20px;
}
.led-enable{
  width: 16px;
  height: 16px;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 8%, rgb(50 232 227) 70%);
  box-shadow: 1px 1px 18px rgb(140 255 0);
}
.led-disabled{
  width: 16px;
  height: 16px;
  margin: auto;
  background: radial-gradient(ellipse at center, rgb(0 0 0) 8%, rgb(66 66 66) 70%);
  border-radius: 50%;
  border: 2px solid #a7a7a7;
}
.caja-cont{
  padding: 10px;
  width: 200px;
}
.caja{
  display: flex;
}
.caja-led{
  margin: auto 20px;
  padding: 10px;
}
.tr-ticket{
  cursor: pointer;
  width: 100%;
  filter: brightness(0.7);
  transition: .4s;
}
.tr-ticket:hover{
  filter: none;
  color: #fff;
}
.display-contents{
  display: contents;
  color: #aaa4a4;
  text-decoration: none;
}
.table-cont-modal{
  margin: auto;
  text-align: center;
  background: #e4e4e4;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 20px;
}
.tr-head-modal{
  background: #7d7d7d;
  color: #fff;
}
.cell-modal{
  padding: 10px;
}
.bg-estado{
  background: #464646;
}
.enabled-div{
  display: none;
}
.caja-cont{
  filter: brightness(0.5);
}
.bg-transparent-white{
  background: #ffffff47;
  filter: drop-shadow(2px 4px 6px black);
}
.overflow-fechas{
  max-height: 60vh;
  overflow: auto;
}
.overflow-fechas::-webkit-scrollbar {
  -webkit-appearance: none;
}

.overflow-fechas::-webkit-scrollbar:vertical {
  width:10px;
}

.overflow-fechas::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.overflow-fechas::-webkit-scrollbar:horizontal {
  height: 10px;
}

.overflow-fechas::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.overflow-fechas::-webkit-scrollbar-track {
  border-radius: 10px;
}
.search-form{
  color: #fff;
  background: #fff0 !important;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  transition: 0.4s ease-in-out;
}
.search-form:focus{
  outline: none;
  background: #fff0 !important;
  border-bottom: 2px solid #76b6e5;
  filter: drop-shadow(2px 4px 6px #fff);
}
.search-form::placeholder{
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
}
.btn-search{
  background-color: #000 !important;
  border-color: #3c3356 !important;
  border-radius: 20px !important;
  padding: 16px !important;
}
.box-search{
  background: #fff0;
  border: none;
  padding: 0;
}
.body-modal-fechas{
  max-height: 60vh;
  overflow: auto;
}
.containerInputModal{
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.search-fechas-input{
  width: 100%;
  border: 1px solid #000 !important;
  border-radius: 50px;
  color: #000 !important;
}
.search-fechas-input::placeholder{
  color: #000 !important;
}
.prin-total-report-head{
  margin: 60px auto 20px;
}
.reporte-title{
  color: #fff;
  padding: 10px 0;
  letter-spacing: 5px;
  background: #3b086f;
  border-radius: 20px;
  font-size: 20px;
}
.reporte-title-sub{
  margin-top: 10px;
  color: #fff;
  letter-spacing: 5px;
  font-size: 16px;
}
.reporte-body{
  margin-top: 20px;
}
.reporte-text-sub{
  padding: 10px 10px 0;
  text-align: left;
}
.reporte-span{
  font-weight: 800;
  letter-spacing: 2px;
}
.prin-total-report{
  width: 100%;
  display: inline-block;
  margin: auto;
}
.table-reportes{
  width: 100%;
  border-collapse: collapse
}
.table-reportes thead tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.table-reportes thead tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table-reportes tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.table-reportes tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table-reportes tbody{
  background: #313131;
}
.tr-reporte-head{
  background: #300062;
  color: #ffffff;
  filter: drop-shadow(2px 4px 6px black);
}
.td-reporte-head{
  padding: 10px;
}
.td-reporte-body{
  padding: 5px 10px;
}
.td-text-reporte{
  text-align: initial;;
}
.td-reporte-body-total{
  background: #4d4d4d;
  color: #cbcbcb;
}

/**---REPORTES NAV---*/

.nav-reporte{
  width: 100%;
}
.ul-reporte{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.li-reporte{
  list-style: none;
  padding-top: 10px;
  z-index: 100;
}
.li-reporte .a-reporte{
  padding: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #000;
  border-radius: 20px;
  border: 1px solid #3b086f;
  transition: .4s;
}
.li-reporte .a-reporte:hover{
  border-radius: 10px;
  color: #000;
  background: #fff;
}
.background-image-reportes{
  filter: none;
}
.box-select-barra{
  background: #ffffff00;
  border: none;
  border-bottom: 1px solid #fff;
}
.icon{
  display: inline-flex;
  margin: 0 10px;
}
.icon-report{
  display: inline-flex;
  margin: 0 10px 0 0;
}
.button-fecha-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button-report-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav-bg-select{
  background: #3b086f !important;
}
.nav-bg-select:hover{
  color: #fff !important;
}
.div-on{
  display: block;
}
.div-off{
  display: none;
}
.cont-sub-prin-pdf{
  filter: drop-shadow(2px 4px 6px black);
}
.button-fin-100{
  width: 100%;
}
.table-cont-modal-scroll{
  min-width: 400px;
  margin: auto;
}
.table-overflow{
  overflow: auto;
}
.empresa{
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  padding: 20px 0;
}

@keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}
@media only screen and (max-width: 930px) {
  .prin-total{
    margin: 50px auto;
  }
  .cont-sub-prin{
    width: 100%;
  }
  .box-prin{
   width: 80%;
  }
  .ticket{
    font-size: 24px;
  }
  .ticket-nro{
    font-size: 24px;
  }
  .total-money{
    font-size: 30px;
  }
  .image-01{
    height: 300px;
    width: 300px;
  }
  .image-02{
    height: 150px;
    width: 150px;
  }
  .mini-logo-01{
    width: 180px;
  }
  .cont-form-sub{
    width: 80%;
    padding: 0;
  }
  .input-form{
    width: 100%;
  }
  .email-form{
    width: 100%;
  }
  .pass-form{
    width: 100%;
  }
  .caja-led{
    font-size: 14px;
  }
  .caja-cont{
    width: 150px;
  }
}
@media only screen and (max-width: 650px){
  .button-fin{
    width: 100%;
  }
  .display-block-money{
    display: block;
  }
}
@media only screen and (max-width: 600px){
  .reporte-title{
    font-size: .8rem;
  }
  .reporte-title-sub{
    font-size: .8rem;
  }
  .reporte-text-sub{
    font-size: .8rem;
  }
  .reporte-span{
    letter-spacing: 1px;
  }
  .table-reportes{
    min-width: 200px;
    font-size: .8rem;
  }
  .box-prin-table{
    overflow: auto;
  }
  .tbody-reporte{
    font-size: .6rem;
  }
  .nav-reporte{
    font-size: .8rem;
  }
}
@media only screen and (max-width: 500px) {
  .fecha-ticket{
    font-size: 14px;
    letter-spacing: 2px;
  }
  .ticket-icon{
    padding: 20px 0;
  }
  .cantidad-ticket{
    font-size: 1rem;
    padding: 20px 10px;
    letter-spacing: initial;
  }
  .precio-ticket{
    font-size: 1rem;
    padding: 20px 10px;
    letter-spacing: initial;
  }
  .ticket-img{
    width: 50px;
  }
  .cont-form{
    padding: 0;
  }
  .image-01{
    height: 200px;
    width: 200px;
  }
  .image-02{
    height: 100px;
    width: 100px;
  }
  .mini-logo-01{
    width: 50%;
  }
  .email-form{
    font-size: 1rem;
  }
  .pass-form{
    font-size: 1rem;
  }
  .email-form::placeholder{
    font-size: 1rem;
  }
  .pass-form::placeholder{
    font-size: 1rem;
  }
  .label-check{
    font-size: .8rem;
  }
  .check-align{
    display: block;
  }
  .check-form{
    display: block;
    margin: 20px auto;
  }
  .error-report{
    font-size: .8rem;
  }
  .historial-text{
    font-size: .8rem;
    letter-spacing: 1px;
  }
  .fecha-hist-head{
    font-size: 16px;
    padding: 20px 10px;
  }
  .fecha-hist{
    font-size: 14px;
    letter-spacing: initial;
  }
  .button-fecha{
    font-size: 14px;
  }
  .img-home{
    padding: 40px 0;
  }
  .submit-form-modal{
    font-size: 14px;
    padding: 8px 18px;
  }
  .p-modal-footer{
    font-size: .7rem;
  }
  .caja-cont{
    width: 120px;
  }
  .disabled-tr{
    display: none;
  }
  .enabled-div{
    display: initial;
  }
  .led-disabled{
    width: 10px;
    height: 10px;
  }
  .led-enable{
    width: 10px;
    height: 10px;
  }
  .disabled-td{
    display: none;
  }
  .caja{
    padding: 0;
  }
  .table-cont{
    width: 100%;
  }
}